/*
    Proyecto: Sistema de Gestión de Plazas
    V:0.6
*/

SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

IF DB_ID(N'GestionDePlazasBD') IS NULL
BEGIN
    CREATE DATABASE [GestionDePlazasBD];
END
GO

USE [GestionDePlazasBD]
GO

-- =====================================================
-- CREACIÓN DE TABLAS
-- (Solo se ejecutan si la tabla no existe aún)
-- =====================================================

IF OBJECT_ID(N'dbo.Acta', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Acta](
    [idActa]           [int] IDENTITY(1,1) NOT NULL,
    [idAviso]          [int] NOT NULL,
    [folio]            [varchar](10) NOT NULL,
    [lugar]            [varchar](100) NOT NULL,
    [fecha]            [date] NOT NULL,
    [horaInicio]       [time](7) NOT NULL,
    [horaConclusion]   [time](7) NOT NULL,
    [asuntosGenerales] [varchar](max) NOT NULL,
    [idArchivoOriginal][int] NULL,
    [idArchivoFirmado] [int] NULL,
    [archivado]        [bit] NULL,
 CONSTRAINT [PK_Acta] PRIMARY KEY CLUSTERED ([idActa] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Archivo', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Archivo](
    [idArchivo] [int] IDENTITY(1,1) NOT NULL,
    [nombre]    [varchar](250) NULL,
    [ruta]      [varchar](250) NULL,
    [tipo]      [varchar](250) NULL,
    [tamanio]   [float] NULL,
 CONSTRAINT [PK_Archivo] PRIMARY KEY CLUSTERED ([idArchivo] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.AreaAcademica', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[AreaAcademica](
    [idAreaAcademica] [int] IDENTITY(1,1) NOT NULL,
    [nombre]          [varchar](100) NOT NULL,
    [telefono]        [varchar](30) NOT NULL,
    [extension]       [varchar](5) NOT NULL,
 CONSTRAINT [PK_AreaAcademica] PRIMARY KEY CLUSTERED ([idAreaAcademica] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Articulo', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Articulo](
    [idArticulo]  [int] IDENTITY(1,1) NOT NULL,
    [numero]      [varchar](50) NOT NULL,
    [descripcion] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Articulo] PRIMARY KEY CLUSTERED ([idArticulo] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Asistencia', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Asistencia](
    [idAsistencia]   [int] IDENTITY(1,1) NOT NULL,
    [idActa]         [int] NOT NULL,
    [idIntegranteCT] [int] NOT NULL,
    [asistio]        [bit] NOT NULL,
 CONSTRAINT [PK_Asistencia] PRIMARY KEY CLUSTERED ([idAsistencia] ASC),
 CONSTRAINT [UQ_Asistencia_Acta_IntegranteCT] UNIQUE NONCLUSTERED ([idActa] ASC, [idIntegranteCT] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Aviso', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Aviso](
    [idAviso]            [int] IDENTITY(1,1) NOT NULL,
    [idEntidadAcademica] [int] NOT NULL,
    [idPeriodo]          [int] NOT NULL,
    [idArticulo]         [int] NOT NULL,
    [folio]              [varchar](50) NOT NULL,
    [fechaInicio]        [date] NOT NULL,
    [fechaCreacion]      [date] NOT NULL,
    [requisitos]         [varchar](max) NOT NULL,
    [lugar]              [varchar](100) NULL,
    [correo]             [varchar](255) NULL,
    [modalidad]          [varchar](10) NOT NULL,
    [idArchivoOriginal]  [int] NULL,
    [idArchivoFirmado]   [int] NULL,
    [archivado]          [bit] NULL,
 CONSTRAINT [PK_Aviso] PRIMARY KEY CLUSTERED ([idAviso] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.CoordinadorDGAA', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[CoordinadorDGAA](
    [idCoordinadorDGAA] [int] IDENTITY(1,1) NOT NULL,
    [idAreaAcademica]   [int] NOT NULL,
    [nombre]            [varchar](255) NOT NULL,
    [correo]            [varchar](255) NOT NULL,
    [cargo]             [varchar](255) NOT NULL,
 CONSTRAINT [PK_CoordinadorDGAA] PRIMARY KEY CLUSTERED ([idCoordinadorDGAA] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.CoordinadorEA', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[CoordinadorEA](
    [idCoordinadorEA]    [int] IDENTITY(1,1) NOT NULL,
    [idEntidadAcademica] [int] NOT NULL,
    [nombre]             [varchar](255) NOT NULL,
    [correo]             [varchar](255) NOT NULL,
    [cargo]              [varchar](255) NOT NULL,
 CONSTRAINT [PK_CoordinadorEA] PRIMARY KEY CLUSTERED ([idCoordinadorEA] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Dictamen', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Dictamen](
    [idDictamen]        [int] IDENTITY(1,1) NOT NULL,
    [idActa]            [int] NOT NULL,
    [idDocente]         [int] NOT NULL,
    [idArchivoOriginal] [int] NOT NULL,
    [idArchivoFirmado]  [int] NULL,
 CONSTRAINT [PK_Dictamen] PRIMARY KEY CLUSTERED ([idDictamen] ASC),
 CONSTRAINT [UQ_Dictamen_Acta_Docente] UNIQUE NONCLUSTERED ([idActa] ASC, [idDocente] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Docente', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Docente](
    [idDocente]           [int] IDENTITY(1,1) NOT NULL,
    [nombre]              [varchar](255) NOT NULL,
    [descripcionPerfil]   [varchar](max) NULL,
    [idArchivosGenerales] [int] NULL,
    [numeroPersonal]      [varchar](10) NULL,
    [puesto]              [varchar](25) NULL,
 CONSTRAINT [PK_Docente] PRIMARY KEY CLUSTERED ([idDocente] ASC),
 CONSTRAINT [UQ_Docente_numeroPersonal] UNIQUE NONCLUSTERED ([numeroPersonal] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.EntidadAcademica', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[EntidadAcademica](
    [idEntidadAcademica] [int] IDENTITY(1,1) NOT NULL,
    [idAreaAcademica]    [int] NOT NULL,
    [nombre]             [varchar](100) NOT NULL,
    [calleNumero]        [varchar](150) NOT NULL,
    [colonia]            [varchar](100) NOT NULL,
    [cp]                 [varchar](5) NOT NULL,
    [municipio]          [varchar](100) NOT NULL,
    [telefono]           [varchar](30) NOT NULL,
    [extension]          [varchar](5) NOT NULL,
    [region]             [varchar](30) NOT NULL,
 CONSTRAINT [PK_EntidadAcademica] PRIMARY KEY CLUSTERED ([idEntidadAcademica] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.ExperienciaEducativa', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[ExperienciaEducativa](
    [idExperienciaEducativa] [int] IDENTITY(1,1) NOT NULL,
    [idPlanEstudios]         [int] NOT NULL,
    [codigo]                 [varchar](10) NOT NULL,
    [nombre]                 [varchar](150) NOT NULL,
    [perfilDocente]          [varchar](max) NOT NULL,
    [creditos]       	     [varchar](max) NOT NULL,
    [horas]	             [varchar](max) NOT NULL,
 CONSTRAINT [PK_ExperienciaEducativa] PRIMARY KEY CLUSTERED ([idExperienciaEducativa] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Grado', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Grado](
    [idGrado]   [int] IDENTITY(1,1) NOT NULL,
    [idDocente] [int] NOT NULL,
    [grado]     [varchar](15) NOT NULL,
    [titulo]    [varchar](100) NOT NULL,
    [ultimo]    [bit] NOT NULL,
 CONSTRAINT [PK_Grado] PRIMARY KEY CLUSTERED ([idGrado] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Horario', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Horario](
    [idHorario]  [int] IDENTITY(1,1) NOT NULL,
    [idOferta]   [int] NULL,
    [idAviso]    [int] NULL,
    [dia]        [varchar](255) NOT NULL,
    [horaInicio] [time](7) NOT NULL,
    [horaFin]    [time](7) NOT NULL,
    [salon]      [varchar](100) NULL,
 CONSTRAINT [PK_Horario] PRIMARY KEY CLUSTERED ([idHorario] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.IntegranteCT', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[IntegranteCT](
    [idIntegranteCT]     [int] IDENTITY(1,1) NOT NULL,
    [idEntidadAcademica] [int] NOT NULL,
    [nombre]             [varchar](255) NOT NULL,
    [cargo]              [varchar](100) NOT NULL,
 CONSTRAINT [PK_IntegranteCT] PRIMARY KEY CLUSTERED ([idIntegranteCT] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Log', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Log](
    [idLog]    [int] IDENTITY(1,1) NOT NULL,
    [idOferta] [int] NOT NULL,
    [mensaje]  [varchar](max) NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED ([idLog] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Notificacion', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Notificacion](
    [idNotificacion]    [int] IDENTITY(1,1) NOT NULL,
    [idActa]            [int] NOT NULL,
    [idArchivoOriginal] [int] NOT NULL,
    [idArchivoFirmado]  [int] NULL,
 CONSTRAINT [PK_Notificacion] PRIMARY KEY CLUSTERED ([idNotificacion] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Oferta', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Oferta](
    [idOferta]                [int] IDENTITY(1,1) NOT NULL,
    [idDocente]               [int] NULL,
    [idExperienciaEducativa]  [int] NOT NULL,
    [idArticulo]              [int] NULL,
    [idPeriodo]               [int] NOT NULL,
    [plaza]                   [varchar](4) NULL,
    [tipoContratacion]        [varchar](3) NOT NULL,
    [nrc]                     [varchar](5) NOT NULL,
    [incluida]                [bit] NOT NULL,
    [justificacion]           [varchar](50) NOT NULL,
    [idArchivoApertura]       [int] NULL,
    [estadoSolicitudApertura] [varchar](50) NOT NULL,
    [hsm]                     [int] NOT NULL,
    [justificacionApertura]   [varchar](255) NULL,
 CONSTRAINT [PK_Oferta] PRIMARY KEY CLUSTERED ([idOferta] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.OfertaAviso', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[OfertaAviso](
    [idOfertaAviso] [int] IDENTITY(1,1) NOT NULL,
    [idOferta]      [int] NOT NULL,
    [idAviso]       [int] NOT NULL,
 CONSTRAINT [PK_OfertaAviso] PRIMARY KEY CLUSTERED ([idOfertaAviso] ASC),
 CONSTRAINT [UQ_OfertaAviso_Oferta_Aviso] UNIQUE NONCLUSTERED ([idOferta] ASC, [idAviso] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Periodo', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Periodo](
    [idPeriodo] INT IDENTITY(1,1) NOT NULL,
    [codigo]    CHAR(6) NOT NULL,
 CONSTRAINT [PK_Periodo] PRIMARY KEY CLUSTERED ([idPeriodo]),
 CONSTRAINT [UQ_Periodo_codigo] UNIQUE ([codigo])
);
END
GO

IF OBJECT_ID(N'dbo.ProgramaEducativo', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[ProgramaEducativo](
    [idProgramaEducativo] [int] IDENTITY(1,1) NOT NULL,
    [idEntidadAcademica]  [int] NOT NULL,
    [nombre]              [varchar](100) NOT NULL,
    [campus]              [varchar](100) NOT NULL,
 CONSTRAINT [PK_ProgramaEducativo] PRIMARY KEY CLUSTERED ([idProgramaEducativo] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.PlanEstudios', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[PlanEstudios](
    [idPlanEstudios]     [int] IDENTITY(1,1) NOT NULL,
    [idProgramaEducativo][int] NOT NULL,
    [nombre]             [varchar](100) NOT NULL,
    [modalidad]          [varchar](100) NOT NULL,
    [idArchivoPlan]      [int] NOT NULL,
 CONSTRAINT [PK_PlanEstudios] PRIMARY KEY CLUSTERED ([idPlanEstudios] ASC)
) ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.Solicitud', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Solicitud](
    [idSolicitud]      [int] IDENTITY(1,1) NOT NULL,
    [idDocente]        [int] NOT NULL,
    [idOferta]         [int] NOT NULL,
    [designado]        [bit] NOT NULL,
    [modalidad]        [varchar](10) NOT NULL,
    [justificacion]    [varchar](max) NOT NULL,
    [idArchivoSolicitud][int] NOT NULL,
 CONSTRAINT [PK_Solicitud] PRIMARY KEY CLUSTERED ([idSolicitud] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
END
GO

IF OBJECT_ID(N'dbo.SuperUsuario', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[SuperUsuario](
    [idSuperUsuario] [int] IDENTITY(1,1) NOT NULL,
    [nombre]         [varchar](255) NOT NULL,
    [correo]         [varchar](255) NOT NULL,
 CONSTRAINT [PK_SuperUsuario] PRIMARY KEY CLUSTERED ([idSuperUsuario] ASC)
) ON [PRIMARY];
END
GO

-- =====================================================
-- ÍNDICES (con verificación previa)
-- =====================================================

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Acta_idAviso' AND object_id = OBJECT_ID(N'dbo.Acta'))
    CREATE NONCLUSTERED INDEX [IX_Acta_idAviso] ON [dbo].[Acta] ([idAviso] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Asistencia_idIntegranteCT' AND object_id = OBJECT_ID(N'dbo.Asistencia'))
    CREATE NONCLUSTERED INDEX [IX_Asistencia_idIntegranteCT] ON [dbo].[Asistencia] ([idIntegranteCT] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Aviso_idArticulo' AND object_id = OBJECT_ID(N'dbo.Aviso'))
    CREATE NONCLUSTERED INDEX [IX_Aviso_idArticulo] ON [dbo].[Aviso] ([idArticulo] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Aviso_idEntidadAcademica' AND object_id = OBJECT_ID(N'dbo.Aviso'))
    CREATE NONCLUSTERED INDEX [IX_Aviso_idEntidadAcademica] ON [dbo].[Aviso] ([idEntidadAcademica] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Aviso_idPeriodo' AND object_id = OBJECT_ID(N'dbo.Aviso'))
    CREATE NONCLUSTERED INDEX [IX_Aviso_idPeriodo] ON [dbo].[Aviso] ([idPeriodo] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_CoordinadorDGAA_idAreaAcademica' AND object_id = OBJECT_ID(N'dbo.CoordinadorDGAA'))
    CREATE NONCLUSTERED INDEX [IX_CoordinadorDGAA_idAreaAcademica] ON [dbo].[CoordinadorDGAA] ([idAreaAcademica] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_CoordinadorEA_idEntidadAcademica' AND object_id = OBJECT_ID(N'dbo.CoordinadorEA'))
    CREATE NONCLUSTERED INDEX [IX_CoordinadorEA_idEntidadAcademica] ON [dbo].[CoordinadorEA] ([idEntidadAcademica] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Dictamen_idDocente' AND object_id = OBJECT_ID(N'dbo.Dictamen'))
    CREATE NONCLUSTERED INDEX [IX_Dictamen_idDocente] ON [dbo].[Dictamen] ([idDocente] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_EntidadAcademica_idAreaAcademica' AND object_id = OBJECT_ID(N'dbo.EntidadAcademica'))
    CREATE NONCLUSTERED INDEX [IX_EntidadAcademica_idAreaAcademica] ON [dbo].[EntidadAcademica] ([idAreaAcademica] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_ExperienciaEducativa_idPlanEstudios' AND object_id = OBJECT_ID(N'dbo.ExperienciaEducativa'))
    CREATE NONCLUSTERED INDEX [IX_ExperienciaEducativa_idPlanEstudios] ON [dbo].[ExperienciaEducativa] ([idPlanEstudios] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Grado_idDocente' AND object_id = OBJECT_ID(N'dbo.Grado'))
    CREATE NONCLUSTERED INDEX [IX_Grado_idDocente] ON [dbo].[Grado] ([idDocente] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Horario_idAviso' AND object_id = OBJECT_ID(N'dbo.Horario'))
    CREATE NONCLUSTERED INDEX [IX_Horario_idAviso] ON [dbo].[Horario] ([idAviso] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Horario_idOferta' AND object_id = OBJECT_ID(N'dbo.Horario'))
    CREATE NONCLUSTERED INDEX [IX_Horario_idOferta] ON [dbo].[Horario] ([idOferta] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_IntegranteCT_idEntidadAcademica' AND object_id = OBJECT_ID(N'dbo.IntegranteCT'))
    CREATE NONCLUSTERED INDEX [IX_IntegranteCT_idEntidadAcademica] ON [dbo].[IntegranteCT] ([idEntidadAcademica] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Log_idOferta' AND object_id = OBJECT_ID(N'dbo.Log'))
    CREATE NONCLUSTERED INDEX [IX_Log_idOferta] ON [dbo].[Log] ([idOferta] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Notificacion_idActa' AND object_id = OBJECT_ID(N'dbo.Notificacion'))
    CREATE NONCLUSTERED INDEX [IX_Notificacion_idActa] ON [dbo].[Notificacion] ([idActa] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Oferta_idArticulo' AND object_id = OBJECT_ID(N'dbo.Oferta'))
    CREATE NONCLUSTERED INDEX [IX_Oferta_idArticulo] ON [dbo].[Oferta] ([idArticulo] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Oferta_idDocente' AND object_id = OBJECT_ID(N'dbo.Oferta'))
    CREATE NONCLUSTERED INDEX [IX_Oferta_idDocente] ON [dbo].[Oferta] ([idDocente] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Oferta_idExperienciaEducativa' AND object_id = OBJECT_ID(N'dbo.Oferta'))
    CREATE NONCLUSTERED INDEX [IX_Oferta_idExperienciaEducativa] ON [dbo].[Oferta] ([idExperienciaEducativa] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Oferta_idPeriodo' AND object_id = OBJECT_ID(N'dbo.Oferta'))
    CREATE NONCLUSTERED INDEX [IX_Oferta_idPeriodo] ON [dbo].[Oferta] ([idPeriodo] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_OfertaAviso_idAviso' AND object_id = OBJECT_ID(N'dbo.OfertaAviso'))
    CREATE NONCLUSTERED INDEX [IX_OfertaAviso_idAviso] ON [dbo].[OfertaAviso] ([idAviso] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_PlanEstudios_idProgramaEducativo' AND object_id = OBJECT_ID(N'dbo.PlanEstudios'))
    CREATE NONCLUSTERED INDEX [IX_PlanEstudios_idProgramaEducativo] ON [dbo].[PlanEstudios] ([idProgramaEducativo] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_ProgramaEducativo_idEntidadAcademica' AND object_id = OBJECT_ID(N'dbo.ProgramaEducativo'))
    CREATE NONCLUSTERED INDEX [IX_ProgramaEducativo_idEntidadAcademica] ON [dbo].[ProgramaEducativo] ([idEntidadAcademica] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Solicitud_idDocente' AND object_id = OBJECT_ID(N'dbo.Solicitud'))
    CREATE NONCLUSTERED INDEX [IX_Solicitud_idDocente] ON [dbo].[Solicitud] ([idDocente] ASC);
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'IX_Solicitud_idOferta' AND object_id = OBJECT_ID(N'dbo.Solicitud'))
    CREATE NONCLUSTERED INDEX [IX_Solicitud_idOferta] ON [dbo].[Solicitud] ([idOferta] ASC);
GO

-- =====================================================
-- FOREIGN KEYS (con verificación previa)
-- =====================================================

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Acta_ArchivoFirmado')
    ALTER TABLE [dbo].[Acta] WITH NOCHECK ADD CONSTRAINT [FK_Acta_ArchivoFirmado] FOREIGN KEY([idArchivoFirmado]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Acta_ArchivoOriginal')
    ALTER TABLE [dbo].[Acta] WITH NOCHECK ADD CONSTRAINT [FK_Acta_ArchivoOriginal] FOREIGN KEY([idArchivoOriginal]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Acta_Aviso')
    ALTER TABLE [dbo].[Acta] WITH CHECK ADD CONSTRAINT [FK_Acta_Aviso] FOREIGN KEY([idAviso]) REFERENCES [dbo].[Aviso] ([idAviso]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Asistencia_Acta')
    ALTER TABLE [dbo].[Asistencia] WITH CHECK ADD CONSTRAINT [FK_Asistencia_Acta] FOREIGN KEY([idActa]) REFERENCES [dbo].[Acta] ([idActa]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Asistencia_IntegranteCT')
    ALTER TABLE [dbo].[Asistencia] WITH CHECK ADD CONSTRAINT [FK_Asistencia_IntegranteCT] FOREIGN KEY([idIntegranteCT]) REFERENCES [dbo].[IntegranteCT] ([idIntegranteCT]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Aviso_ArchivoFirmado')
    ALTER TABLE [dbo].[Aviso] WITH CHECK ADD CONSTRAINT [FK_Aviso_ArchivoFirmado] FOREIGN KEY([idArchivoFirmado]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Aviso_ArchivoOriginal')
    ALTER TABLE [dbo].[Aviso] WITH CHECK ADD CONSTRAINT [FK_Aviso_ArchivoOriginal] FOREIGN KEY([idArchivoOriginal]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Aviso_Articulo')
    ALTER TABLE [dbo].[Aviso] WITH CHECK ADD CONSTRAINT [FK_Aviso_Articulo] FOREIGN KEY([idArticulo]) REFERENCES [dbo].[Articulo] ([idArticulo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Aviso_EntidadAcademica')
    ALTER TABLE [dbo].[Aviso] WITH CHECK ADD CONSTRAINT [FK_Aviso_EntidadAcademica] FOREIGN KEY([idEntidadAcademica]) REFERENCES [dbo].[EntidadAcademica] ([idEntidadAcademica]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Aviso_Periodo')
    ALTER TABLE [dbo].[Aviso] WITH CHECK ADD CONSTRAINT [FK_Aviso_Periodo] FOREIGN KEY([idPeriodo]) REFERENCES [dbo].[Periodo] ([idPeriodo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_CoordinadorDGAA_AreaAcademica')
    ALTER TABLE [dbo].[CoordinadorDGAA] WITH CHECK ADD CONSTRAINT [FK_CoordinadorDGAA_AreaAcademica] FOREIGN KEY([idAreaAcademica]) REFERENCES [dbo].[AreaAcademica] ([idAreaAcademica]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_CoordinadorEA_EntidadAcademica')
    ALTER TABLE [dbo].[CoordinadorEA] WITH CHECK ADD CONSTRAINT [FK_CoordinadorEA_EntidadAcademica] FOREIGN KEY([idEntidadAcademica]) REFERENCES [dbo].[EntidadAcademica] ([idEntidadAcademica]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Dictamen_Acta')
    ALTER TABLE [dbo].[Dictamen] WITH CHECK ADD CONSTRAINT [FK_Dictamen_Acta] FOREIGN KEY([idActa]) REFERENCES [dbo].[Acta] ([idActa]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Dictamen_ArchivoOriginal')
    ALTER TABLE [dbo].[Dictamen] WITH CHECK ADD CONSTRAINT [FK_Dictamen_ArchivoOriginal] FOREIGN KEY([idArchivoOriginal]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Dictamen_DictamenFirmado')
    ALTER TABLE [dbo].[Dictamen] WITH CHECK ADD CONSTRAINT [FK_Dictamen_DictamenFirmado] FOREIGN KEY([idArchivoFirmado]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Dictamen_Docente')
    ALTER TABLE [dbo].[Dictamen] WITH CHECK ADD CONSTRAINT [FK_Dictamen_Docente] FOREIGN KEY([idDocente]) REFERENCES [dbo].[Docente] ([idDocente]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Docente_Archivo')
    ALTER TABLE [dbo].[Docente] WITH CHECK ADD CONSTRAINT [FK_Docente_Archivo] FOREIGN KEY([idArchivosGenerales]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_EntidadAcademica_AreaAcademica')
    ALTER TABLE [dbo].[EntidadAcademica] WITH CHECK ADD CONSTRAINT [FK_EntidadAcademica_AreaAcademica] FOREIGN KEY([idAreaAcademica]) REFERENCES [dbo].[AreaAcademica] ([idAreaAcademica]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_ExperienciaEducativa_PlanEstudios')
    ALTER TABLE [dbo].[ExperienciaEducativa] WITH CHECK ADD CONSTRAINT [FK_ExperienciaEducativa_PlanEstudios] FOREIGN KEY([idPlanEstudios]) REFERENCES [dbo].[PlanEstudios] ([idPlanEstudios]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Grado_Docente')
    ALTER TABLE [dbo].[Grado] WITH CHECK ADD CONSTRAINT [FK_Grado_Docente] FOREIGN KEY([idDocente]) REFERENCES [dbo].[Docente] ([idDocente]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Horario_Aviso')
    ALTER TABLE [dbo].[Horario] WITH CHECK ADD CONSTRAINT [FK_Horario_Aviso] FOREIGN KEY([idAviso]) REFERENCES [dbo].[Aviso] ([idAviso]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Horario_Oferta')
    ALTER TABLE [dbo].[Horario] WITH CHECK ADD CONSTRAINT [FK_Horario_Oferta] FOREIGN KEY([idOferta]) REFERENCES [dbo].[Oferta] ([idOferta]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_IntegranteCT_EntidadAcademica')
    ALTER TABLE [dbo].[IntegranteCT] WITH CHECK ADD CONSTRAINT [FK_IntegranteCT_EntidadAcademica] FOREIGN KEY([idEntidadAcademica]) REFERENCES [dbo].[EntidadAcademica] ([idEntidadAcademica]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Log_Oferta')
    ALTER TABLE [dbo].[Log] WITH CHECK ADD CONSTRAINT [FK_Log_Oferta] FOREIGN KEY([idOferta]) REFERENCES [dbo].[Oferta] ([idOferta]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Notificacion_Acta')
    ALTER TABLE [dbo].[Notificacion] WITH CHECK ADD CONSTRAINT [FK_Notificacion_Acta] FOREIGN KEY([idActa]) REFERENCES [dbo].[Acta] ([idActa]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Notificacion_ArchivoOriginal')
    ALTER TABLE [dbo].[Notificacion] WITH CHECK ADD CONSTRAINT [FK_Notificacion_ArchivoOriginal] FOREIGN KEY([idArchivoOriginal]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Notificacion_NotificacionFirmado')
    ALTER TABLE [dbo].[Notificacion] WITH CHECK ADD CONSTRAINT [FK_Notificacion_NotificacionFirmado] FOREIGN KEY([idArchivoFirmado]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Oferta_Archivo')
    ALTER TABLE [dbo].[Oferta] WITH CHECK ADD CONSTRAINT [FK_Oferta_Archivo] FOREIGN KEY([idArchivoApertura]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Oferta_Articulo')
    ALTER TABLE [dbo].[Oferta] WITH CHECK ADD CONSTRAINT [FK_Oferta_Articulo] FOREIGN KEY([idArticulo]) REFERENCES [dbo].[Articulo] ([idArticulo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Oferta_Docente')
    ALTER TABLE [dbo].[Oferta] WITH CHECK ADD CONSTRAINT [FK_Oferta_Docente] FOREIGN KEY([idDocente]) REFERENCES [dbo].[Docente] ([idDocente]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Oferta_ExperienciaEducativa')
    ALTER TABLE [dbo].[Oferta] WITH CHECK ADD CONSTRAINT [FK_Oferta_ExperienciaEducativa] FOREIGN KEY([idExperienciaEducativa]) REFERENCES [dbo].[ExperienciaEducativa] ([idExperienciaEducativa]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Oferta_Periodo')
    ALTER TABLE [dbo].[Oferta] WITH CHECK ADD CONSTRAINT [FK_Oferta_Periodo] FOREIGN KEY([idPeriodo]) REFERENCES [dbo].[Periodo] ([idPeriodo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_OfertaAviso_Aviso')
    ALTER TABLE [dbo].[OfertaAviso] WITH CHECK ADD CONSTRAINT [FK_OfertaAviso_Aviso] FOREIGN KEY([idAviso]) REFERENCES [dbo].[Aviso] ([idAviso]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_OfertaAviso_Oferta')
    ALTER TABLE [dbo].[OfertaAviso] WITH CHECK ADD CONSTRAINT [FK_OfertaAviso_Oferta] FOREIGN KEY([idOferta]) REFERENCES [dbo].[Oferta] ([idOferta]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_PlanEstudios_Archivo')
    ALTER TABLE [dbo].[PlanEstudios] WITH CHECK ADD CONSTRAINT [FK_PlanEstudios_Archivo] FOREIGN KEY([idArchivoPlan]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_PlanEstudios_ProgramaEducativo')
    ALTER TABLE [dbo].[PlanEstudios] WITH CHECK ADD CONSTRAINT [FK_PlanEstudios_ProgramaEducativo] FOREIGN KEY([idProgramaEducativo]) REFERENCES [dbo].[ProgramaEducativo] ([idProgramaEducativo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_ProgramaEducativo_EntidadAcademica')
    ALTER TABLE [dbo].[ProgramaEducativo] WITH CHECK ADD CONSTRAINT [FK_ProgramaEducativo_EntidadAcademica] FOREIGN KEY([idEntidadAcademica]) REFERENCES [dbo].[EntidadAcademica] ([idEntidadAcademica]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Solicitud_Archivo')
    ALTER TABLE [dbo].[Solicitud] WITH CHECK ADD CONSTRAINT [FK_Solicitud_Archivo] FOREIGN KEY([idArchivoSolicitud]) REFERENCES [dbo].[Archivo] ([idArchivo]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Solicitud_Docente')
    ALTER TABLE [dbo].[Solicitud] WITH CHECK ADD CONSTRAINT [FK_Solicitud_Docente] FOREIGN KEY([idDocente]) REFERENCES [dbo].[Docente] ([idDocente]);
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Solicitud_Oferta')
    ALTER TABLE [dbo].[Solicitud] WITH CHECK ADD CONSTRAINT [FK_Solicitud_Oferta] FOREIGN KEY([idOferta]) REFERENCES [dbo].[Oferta] ([idOferta]);
GO

-- =====================================================
-- CHECK CONSTRAINTS (con verificación previa)
-- =====================================================

IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_Acta_horas')
    ALTER TABLE [dbo].[Acta] WITH CHECK ADD CONSTRAINT [CK_Acta_horas] CHECK (([horaInicio]<[horaConclusion]));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_Aviso_fechas')
    ALTER TABLE [dbo].[Aviso] WITH CHECK ADD CONSTRAINT [CK_Aviso_fechas] CHECK (([fechaCreacion]<=[fechaInicio]));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_modalidad_aviso')
    ALTER TABLE [dbo].[Aviso] WITH CHECK ADD CONSTRAINT [CK_modalidad_aviso] CHECK (([modalidad]='Presencial' OR [modalidad]='Virtual'));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_puesto_docente')
    ALTER TABLE [dbo].[Docente] WITH CHECK ADD CONSTRAINT [CK_puesto_docente] CHECK (([puesto]='Investigador' OR [puesto]='Docente' OR [puesto]='Técnico Académico' OR [puesto]='Docente por Asignatura'));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_region_entidadAcademica')
    ALTER TABLE [dbo].[EntidadAcademica] WITH CHECK ADD CONSTRAINT [CK_region_entidadAcademica] CHECK (([region]='5-Coatzacoalcos-Minatitlán' OR [region]='4-Poza Rica-Túxpan' OR [region]='3-Orizaba-Córdoba' OR [region]='2-Veracruz' OR [region]='1-Xalapa'));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_grado_grado')
    ALTER TABLE [dbo].[Grado] WITH CHECK ADD CONSTRAINT [CK_grado_grado] CHECK (([grado]='Licenciatura' OR [grado]='Especialidad' OR [grado]='Maestría' OR [grado]='Doctorado'));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_dia_horario')
    ALTER TABLE [dbo].[Horario] WITH CHECK ADD CONSTRAINT [CK_dia_horario] CHECK (([dia]='Sábado' OR [dia]='Viernes' OR [dia]='Jueves' OR [dia]='Miércoles' OR [dia]='Martes' OR [dia]='Lunes'));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_Horario_horas')
    ALTER TABLE [dbo].[Horario] WITH CHECK ADD CONSTRAINT [CK_Horario_horas] CHECK (([horaInicio]<[horaFin]));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_Horario_unSoloOrigen')
    ALTER TABLE [dbo].[Horario] WITH CHECK ADD CONSTRAINT [CK_Horario_unSoloOrigen] CHECK (([idOferta] IS NOT NULL AND [idAviso] IS NULL OR [idOferta] IS NULL AND [idAviso] IS NOT NULL));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_estadoSolicitudOferta_Oferta')
    ALTER TABLE [dbo].[Oferta] WITH CHECK ADD CONSTRAINT [CK_estadoSolicitudOferta_Oferta] CHECK (([estadoSolicitudApertura]='Rechazada' OR [estadoSolicitudApertura]='Aceptada' OR [estadoSolicitudApertura]='Pendiente'));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_justificacion_oferta')
    ALTER TABLE [dbo].[Oferta] WITH CHECK ADD CONSTRAINT [CK_justificacion_oferta] CHECK (([justificacion]='Reservada Para Otra Plaza' OR [justificacion]='Demanda insuficiente'));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_Oferta_hsm')
    ALTER TABLE [dbo].[Oferta] WITH CHECK ADD CONSTRAINT [CK_Oferta_hsm] CHECK (([hsm]>(0)));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_tipoContratacion_oferta')
    ALTER TABLE [dbo].[Oferta] WITH CHECK ADD CONSTRAINT [CK_tipoContratacion_oferta] CHECK (([tipoContratacion]='IPP' OR [tipoContratacion]='IOD'));
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_Periodo_codigo_numerico')
    ALTER TABLE [dbo].[Periodo] WITH CHECK ADD CONSTRAINT [CK_Periodo_codigo_numerico] CHECK (codigo NOT LIKE '%[^0-9]%');
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_modalidad_solicitud')
    ALTER TABLE [dbo].[Solicitud] WITH CHECK ADD CONSTRAINT [CK_modalidad_solicitud] CHECK (([modalidad]='Unánime' OR [modalidad]='Mayoría'));
GO

-- =====================================================
-- DATOS DE PRUEBA
-- Contexto: Universidad Veracruzana
-- Nota: datos ficticios para pruebas funcionales
-- Solo se insertan si la tabla está vacía
-- =====================================================

IF NOT EXISTS (SELECT 1 FROM [dbo].[AreaAcademica])
BEGIN
    SET IDENTITY_INSERT [dbo].[AreaAcademica] ON;

    INSERT INTO [dbo].[AreaAcademica]
    ([idAreaAcademica],[nombre],[telefono],[extension])
    VALUES
        (1, N'Área Académica Técnica',                  N'2288421700', N'1101'),
        (2, N'Área Académica Económico Administrativa', N'2288422700', N'2201'),
        (3, N'Área Académica de Humanidades',           N'2288423700', N'3301');

    SET IDENTITY_INSERT [dbo].[AreaAcademica] OFF;
    DBCC CHECKIDENT ('dbo.AreaAcademica', RESEED, 3);
END
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[EntidadAcademica])
BEGIN
    SET IDENTITY_INSERT [dbo].[EntidadAcademica] ON;


    SET IDENTITY_INSERT [dbo].[EntidadAcademica] OFF;
    DBCC CHECKIDENT ('dbo.EntidadAcademica', RESEED, 6);
END
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[CoordinadorDGAA])
BEGIN
    SET IDENTITY_INSERT [dbo].[CoordinadorDGAA] ON;
    INSERT INTO [dbo].[CoordinadorDGAA] ([idCoordinadorDGAA],[idAreaAcademica],[nombre],[correo],[cargo]) VALUES
        (1, 1, N'María Fernanda Hernández Morales', N'maria.hernandez@uv.mx', N'Coordinadora DGAA del Área Académica Técnica'),
        (2, 2, N'Jorge Alberto Ramírez Castillo',   N'jorge.ramirez@uv.mx',   N'Coordinador DGAA del Área Académica Económico Administrativa');
    SET IDENTITY_INSERT [dbo].[CoordinadorDGAA] OFF;
    DBCC CHECKIDENT ('dbo.CoordinadorDGAA', RESEED, 2);
END
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[CoordinadorEA])
BEGIN
    SET IDENTITY_INSERT [dbo].[CoordinadorEA] ON;
    INSERT INTO [dbo].[CoordinadorEA] ([idCoordinadorEA],[idEntidadAcademica],[nombre],[correo],[cargo]) VALUES
        (1, 1, N'Ana Laura Pérez Sánchez',        N'ana.perez@uv.mx',    N'Coordinadora de Entidad Académica'),
        (2, 3, N'Carlos Eduardo López Martínez',  N'carlos.lopez@uv.mx', N'Coordinador de Entidad Académica');
    SET IDENTITY_INSERT [dbo].[CoordinadorEA] OFF;
    DBCC CHECKIDENT ('dbo.CoordinadorEA', RESEED, 2);
END
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[Periodo])
BEGIN
    INSERT INTO [dbo].[Periodo] ([codigo]) VALUES
        ('202501'),('202551'),('202601'),('202651'),
        ('202701'),('202751'),('202801'),('202851'),
        ('202901'),('202951');
END
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[Articulo])
BEGIN
    SET IDENTITY_INSERT [dbo].[Articulo] ON;
    INSERT INTO [dbo].[Articulo] ([idArticulo],[numero],[descripcion]) VALUES
        (1, N'70', N'Artículo 70 utilizado como dato de prueba para ofertas y avisos del Sistema de Gestión de Plazas.'),
        (2, N'73', N'Artículo 73 utilizado como dato de prueba para ofertas y avisos del Sistema de Gestión de Plazas.');
    SET IDENTITY_INSERT [dbo].[Articulo] OFF;
    DBCC CHECKIDENT ('dbo.Articulo', RESEED, 2);
END
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[ProgramaEducativo])
BEGIN
    SET IDENTITY_INSERT [dbo].[ProgramaEducativo] ON;
    -- campus se deriva del municipio de la EntidadAcademica asociada
    SET IDENTITY_INSERT [dbo].[ProgramaEducativo] OFF;
    DBCC CHECKIDENT ('dbo.ProgramaEducativo', RESEED, 12);
END
GO

USE [master]
GO