.checkbox-field {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

    .checkbox-field input {
        width: 16px;
        height: 16px;
    }

    .checkbox-field .text-wrapper {
        font-family: var(--body-font-family);
        font-size: var(--body-font-size);
    }
