.select-wrapper {
    position: relative;
    width: var(--width-fields);
}

.select-field {
    display: flex;
    flex-direction: column;
    width: var(--width-fields);
    gap: var(--border-gap);
}

    .select-field .text-wrapper {
        font-weight: bold;
        font-family: var(--labels-font-family);
        font-size: var(--labels-font-size);
        color: var(--color-text-default-default);
    }

    .select-wrapper .select {
        font-family: var(--body-font-family);
        font-size: var(--body-font-size);
        color: var(--body);

        width: 100%;
        height: 44px;
        padding: 0 var(--padding-lg);
        padding-right: 40px; /* espacio para el ícono */

        background-color: var(--bg-white);
        border: 2px solid var(--border-default);
        border-radius: var(--border-radius);
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select:required:invalid {
            color: rgba(0, 0, 0, 0.4);
        }

        .select option {
            color: black;
        }

    /* Ícono */
    .select-wrapper .select-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none; /* importante */
        font-size: 14px;
        color: #666;
    }
